html {
    overflow-x: hidden;

    font-family: 'Roboto', sans-serif, Helvetica;
    font-size: $font-size-small;

    color: black;

    background-color: black;

    @include respond-to('medium') {
        font-size: $font-size-medium;
    }

    @include respond-to('large') {
        font-size: $font-size-large;
    }
}

body {
    overflow-x: hidden;

    font-size: rem(17px);

    background-color: black;

    @include respond-to('large') {
        font-size: rem-l(17px);
    }

    * {
        @include unselectable();
    }
}
