html {
    font-family: 'Roboto', sans-serif, Helvetica;
    font-size: $base-font-size;

    color: black;

    background-color: black;
}

body {
    font-size: rem(17px);

    background-color: black;

    @include respond-to('large') {
        font-size: rem-l(17px);
    }

    * {
        @include unselectable();
    }
}
