.navigation {
    position: fixed;
    top: vw(52px);
    right: vw(43px);

    text-align: right;

    @include respond-to('large') {
        top: vw-l(55px);
        right: vw-l(63px);
    }
}

.button {
    font-weight: 700;
    font-size: rem(19px);
    text-transform: uppercase;

    @include respond-to('large') {
        font-size: rem-l(19px);
    }
}
