.navigation {
    position: fixed;
    top: rem(52px);
    right: rem(43px);

    text-align: right;

    @include respond-to('large') {
        top: rem-l(55px);
        right: rem-l(63px);
    }
}

.button {
    font-weight: 700;
    font-size: rem(19px);
    text-transform: uppercase;

    @include respond-to('large') {
        font-size: rem-l(19px);
    }
}
