.text-home {
    opacity: 0;

    width: rem(370px);

    font-weight: 500;
    font-size: rem(30px);

    color: $color-white;

    text-align: center;
    
    @include respond-to('large') {
        width: rem-l(1000px);

        font-size: rem-l(50px);
    }
}