.button-hold {
    opacity: 0;

    position: absolute;
    right: 0;
    bottom: rem(55px);
    left: 0;

    width: rem(200px);

    margin: auto;

    @include respond-to('large') {
        bottom: rem-l(55px);

        width: rem-l(200px);
    }
}

.label {
    font-weight: 200;
    font-size: rem(17px);
    text-align: center;

    @include respond-to('large') {
        font-size: rem-l(17px);
    }

    &::v-deep {
        b {
            font-weight: 500;
        }
    }
}

.container {
    position: absolute;
    right: 0;
    bottom: rem(35px);
    left: 0;

    width: rem(52px);
    height: rem(52px);

    margin: auto;

    border: solid 1px $color-black;

    border-radius: 50%;

    transform: scale(1);

    cursor: pointer;

    // transition: transform 0.5s $sine-in-out;

    // &:hover {
    //     transform: scale(1.1);
    // }

    @include respond-to('large') {
        bottom: rem-l(35px);

        width: rem-l(52px);
        height: rem-l(52px);
    }
}

.center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: auto;

    background-color: $color-black;

    border-radius: 50%;

    transform: scale(0);
}

