.button-home {
    opacity: 0;

    position: fixed;
    top: rem(52px);
    left: rem(43px);

    @include respond-to('medium') {
        top: rem(52px);
        left: rem(43px);
    }

    @include respond-to('large') {
        top: rem-l(63px);
        left: rem-l(55px);
    }
}

svg {
    position: absolute;
    top: 0;
    left: 0;

    &.large {
        width: rem(135px);
        height: auto;
    }
    
    &.small {
        width: rem(60px);
        height: auto;
    }
    
    @include respond-to('large') {
        &.large {
            width: rem-l(135px);
            height: auto;
        }

        &.small {
            width: rem-l(60px);
            height: auto;
        }
    }

    // Debug
    // border: solid 1px black;

    // @include respond-to('medium') {
    //     border-color: orange;
    // }

    // @include respond-to('large') {
    //     border-color: red;
    // }

    &.white {
        opacity: 0;

        &::v-deep {
            * {
                fill: white;
            }
        }
    }
}
