.button-home {
    position: absolute;
    top: vw(52px);
    left: vw(43px);

    @include respond-to('large') {
        top: vw-l(63px);
        left: vw-l(55px);
    }
}

svg {
    position: absolute;
    top: 0;
    left: 0;

    width: vw(127px);
    height: vw(45px);

    @include respond-to('large') {
        width: vw-l(127px);
        height: vw-l(45px);
    }

    &.white {
        opacity: 0;

        &::v-deep {
            * {
                fill: white;
            }   
        }
    }
}