.button-home {
    opacity: 0;

    position: fixed;
    top: vw(52px);
    left: vw(43px);

    @include respond-to('large') {
        top: vw-l(63px);
        left: vw-l(55px);
    }
}

svg {
    position: absolute;
    top: 0;
    left: 0;

    width: vw(135px);
    height: auto;

    @include respond-to('large') {
        width: vw-l(135px);
    }

    &.white {
        opacity: 0;

        &::v-deep {
            * {
                fill: white;
            }
        }
    }
}
